nav {
    display: flex;
    background-color:  #028f76;
    width: 100%;
    height: 60px;
}

a {
    text-decoration: none;
    color:  white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

a:hover {
    color: black;
}

a.active {
    color:  black;
    background-color:  #b3e099;
}