.webcam {
    grid-column: 2 / 6;
    grid-row: 1 / 5;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
}

.camera {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.webcam-controls {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    gap: 15px;
}

.webcam-controls button {
    border-radius: 50%;
    min-width: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}